<div class="jumbotron jumbotron-fluid text-center mb-0">
  <div class="container">
    <h1 class="display-4">Burgers</h1>
    <p class="lead">Type in your burger:</p>
  </div>
</div>


<div class="burgerText text-center mb-0">
  <form class="create-form">
    <div>
      <input id="burger" type="text"></input>
      <button type="submit" class=" btn btn-primary">Add burger</button>
    </div>
  </form>
</div>

<h2>Burgers that haven't been eaten!</h2>

<ul>
  {{#each burgers}}
  {{#unless eaten}}
  <div>
    <p>{{burger_name}}</p>
    {{!-- <form> --}}
      {{!-- <input type="hidden" name="eaten" value="1"> --}}
      <button type="submit" id="change-eaten" class="btn btn-warning" data-id={{id}}> Eat the Burger</button>
    {{!-- </form> --}}
  </div>

  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>
<ul>
  {{#each burgers}}
  {{#if eaten}}
  <div>
    <p>{{burger_name}}</p>
  </div>

  {{/if}}
  {{/each}}
</ul>